@model IEnumerable<U2A1.Models.ViewModels.IndexClasesViewModel>
@{
    Layout = "Layout";
}

<div class="slides">
    <img src="~/images/carousel1.jpg" />
</div>

<h1>Clasificación de los vertebrados</h1>
<div class="clases">
    @foreach (var c in Model)
    {
        <div>
            <a href="~/Home/especies/@c.Nombre.Replace(" ","-")">
                <img src="~/clases/@(c.Id).jpg" />
                <h1>@c.Nombre</h1>
                <p>@c.Descripcion</p>
            </a>
        </div>
    }  
</div>

