@model U3A1.Models.ViewModels.PromocionesViewModel
@{
    Layout = "Layout";
}

<section class="menu1">
    <img src="~/hamburguesas/@(Model.Id).png" />
    <div class="datos">
        <h3>
            <del>$@Model.Precio</del>
            <b>$@Model.PrecioPromocion</b>
        </h3>
        <h2>@Model.Nombre</h2>
        <p>@Model.Descripcion</p>
    </div>
    <span>
        <a href="~/Home/Promociones/@Model.Anterior.Replace(" ","-")">&lt;</a>
        <a href="~/Home/Promociones/@Model.Siguiente.Replace(" ","-")">&gt;</a>
    </span>
</section>

